@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    background-color: #f0e68c; /* Cor de fundo amarela pastel */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
    gap: 15px;
}

#toolbar label {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    color: #4b4b4b;
}

#toolbar input[type="color"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    background-color: white;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    color: #4b4b4b;
    text-shadow: 2px 2px #ccc;
    margin: 0;
    margin-right: auto; /* Pushes following items to the right */
}

#addNoteBtn {
    background-color: #3e8e41; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

#addNoteBtn:hover {
    background-color: #4caf50;
}

.note-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
}

.note {
    background-color: #ffffa5; /* Amarelo Post-it */
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-top: 30px solid #f0e68c; /* Simula a dobra do post-it */
    transform: rotate(2deg);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 250px;
    min-height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.note:nth-child(even) {
    transform: rotate(-2deg);
}

.note:hover {
    transform: scale(1.05) rotate(0deg);
    box-shadow: 8px 8px 15px rgba(0,0,0,0.4);
    z-index: 10;
}

.note-content {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1.2em;
    font-family: 'Caveat', cursive;
    outline: none;
}

.delete-btn {
    background-color: #ff4c4c; /* Vermelho */
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    display: none;
}

.note:hover .delete-btn {
    display: block;
}

.delete-btn:hover {
    background-color: #cc0000;
}