html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#toolbar {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#toolbar label {
    font-weight: bold;
}

#toolbar input[type="color"] {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 4px;
}

#toolbar button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

#toolbar button:hover {
    background-color: #e0e0e0;
}

#toolbar button.active {
    background-color: #cce5ff; /* Um azul claro para indicar seleção */
    border-color: #007bff;
}

.separator {
    border-left: 1px solid #ccc;
    height: 25px;
    margin: 0 5px;
}

#drawingCanvas {
    flex-grow: 1;
    display: block;
    background-color: #fff;
}

i{
    font-size: 1.2rem;
}
